.card .title:first-child{
    font-size: 30px;
    font-weight: 700px
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    border: 1px solid #999999a3;
    box-shadow: 2px 2px 10px #33333369;
    background-color: #f1f1f1;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: wrap-reverse;
}
.card img{
    width: 100%;
}
.card footer{
    display: flex;
}
.card footer .button:first-child{
    margin-right: auto;
}

.order1{
    order: -1;
}

.order2{
    order: 2;
}

.order3{
    order: 3;
}

