.box{
padding:0;
margin:0;
border: .5px solid #979797;
height:309px;
width: 272px;
}
.box .price{
    position: absolute;
    top: 176px;
    left: 19px;
    right: 201px;
    bottom: 14px;
}

.box .des{
position: absolute;
top: 239px;
left: 19px;
right: 93px;
bottom: 47px;
font-size: 17px;
letter-spacing: 0px;
color: #1e2d52
}
.price{
color: white;
font-size: 52px/33px;
}

.date{
    font-size: 17px;
    letter-spacing: 0.0px;
    color: #979797;
}

.des{
    color: #1e2d52
}

.box .date{
    position: absolute;
    top:265px;
    left: 19px;
    right: 203px;
    bottom: 21px;
}
