body{
    margin: auto;
}
#container{
    background-color: #b2dfdb;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

}
.top{
    border-bottom: 1px solid rgba(34, 36, 38, 0.7);
    padding-bottom: 8px;
    padding-left: 8px;
}

.line1{
    width: 80%;
    display: flex;
    flex:1;
    align-content: space-between;
    padding: 15px;
}
.line1 #first-name{
    width: 80%;
    display: flex;
    flex:1;
    align-content: space-between;
}
.line1 #last-name{
    width: 80%;
    display: flex;
    flex:1;
    align-content: space-around;

}
.line2{
    width: 80%;
    display: flex;
    flex-basis: 40%;
    align-content: space-around;
    padding: 15px;
    
}
.line2 #billing-adress{
    width: 80%;
    display: flex;
    flex-basis: 40%;
    align-content: space-around;
   justify-content: flex-start;

}
.line2 #atp-unit{
    width: 80%;
    display: flex;
    flex-basis: 40%;
    align-content: space-around;
    justify-content: flex-end;

}
.line3{
    width: 80%;
    display: flex;
    flex-basis: 40%;
    align-content: space-around;
    padding: 15px;
}
.line3 #state{
    width: 80%;
    display: flex;
    flex-basis: 40%;
    align-content: space-around;

}
.line3 #Country{
    width: 80%;
    display: flex;
    flex-basis: 40%;
    align-content: space-around;
}

label{
    padding: 5px;
    
}



