*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d3d3d3;
}
.container{
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.row1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    color: #ffffff;
    background-color: #008b8b;
    font-size: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: #008b8b;
    padding-left: 10px;
}
.row2{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 3px;
    margin-top: 15px;
    height: 150px;
    width: 400px;
}
.col1{
    display: flex;
}
.col1 input{
    flex: 1;
    line-height: 35px;
    padding-left: 20px; 
    border-radius: 3px;
}
.col2{
    display: flex;
    margin-top: 20px;
}
.col2 input{
    flex: 1;
    line-height: 35px;
    padding-left: 20px; 
    border-radius: 3px;

}
.col3{
    display: flex;
    margin-top: 10px;
}
.col3 button{
    flex: 1;
    line-height: 35px;
    background-color: #008b8b;
    color: #ffffff;
    border-radius: 3px;
    font-size: 15px;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    padding-left: 5px;
    padding-top: 10px;
    color: #d3d3d3;
}
.row3{
    background-color: #e5e5e5;
    margin-top: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #0000FF;
}