body{
    background-color: #d3d3d3;
    width: 100%;
    height: 100%;
/** (viewport centered)
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
**/    
    
}
.container{
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #d3d3d3;

}

.title span{
    background-color:#008b8b;
    color: #f6f6f6;
    font-size: 60px;
    padding: 8px
    
    
}
h3{
    color: #008b8b;
    font-size: 30px;
    padding-left: 10px;
}

.title{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contents{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f6f6f6;
    border-radius: 3px;
}
.contents li{
    list-style: none;
    display: flex;
    justify-items: flex-start;
    padding-bottom: 10px;
}
li input,button{
    flex:1;
    height: 30px;
    border-radius: 3px;
    
}
button{
    background-color: #008b8b;
    color: #f6f6f6;
}

.foot{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #dcdcdc;
    margin-top: 10px;
    border-radius: 3px;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
}


