
#container{ 
    margin: auto;
    border-radius: 4px;
    max-width:400px;
}
.box {
    border: 1px solid lightgrey;
 }

 .box {
     font-size: 16px;
     padding: 12px 20px;
 }
 .box .numbercircle{
     float: right;
     
 }

 .numbercircle{
     border: 1px solid white;
    padding: 3px 7px;
    background-color: #007bff;
    border-radius: 10rem;
    color: #fff;
    font-size:75%;
    text-align: center;
}





/**
.box{
    border: 1px solid lightgrey;
    padding: 12px 20px;
    border-radius: 4px;
    max-width:400px;

    
 
}
**/

