/** Smaller devices only **/
@media (max-width:414px){
    /* Hide menu in mobile devices */
    .menu{
        display: none;
        position: absolute;
        background-color: #ffffff;
        left: 0;
        top: 30px;
    }

    .menu-handler{
        display: block!important;
    }

    /** pseudo selector with sibiling **/
    .menu-handler:focus-within + .menu{
        display: block;
    }

    .menu-handler:focus-within + .menu{
        display: block;
    }

    .menu-bar .menu{
        float: right;
    }
    
    .menu-handler .fa:hover .menu .menu-item{
        display: block;
    }
    .boxes.three .box {
        width: 100%;
    }

    

  
}

/* Medium size devices ( iPad / Surface ) */
@media (min-width:768px) and (max-width:1024px){

    /* Align menu items to left */
    .menu-bar .menu{
        float:left;
        margin-left: 40px;
    }


}
/** Larger devices **/
@media (min-width: 1025px){
    .menu-handler{
        display: none;
    }
}

.menu-handler{
    display: none;
}

.menu-handler .fa:hover .menu{
    display: block;
}