*{
    margin: 0;
    padding: 0;
}
.body{
    width: 100%;
}

.hero-banner{
    width: 1920px;
    height: 110px;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
}
.logo{
    padding-left: 8px;
    padding-top: 15px;
    width: 151px;
    height: 31px;
    font-size: 26px;
}
.code{
    color: #820bc6;
    font-size: 26px;
}
.nav{
    padding-top: 15px;
    width: 435px;
    height: 38px;
    font-size: 16px;
    color: #263035;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav li a{

    text-decoration: none;
    font-size: 16px;
    color: #263035; 
}
.nav li{
    display: inline-block;
    
}


.sign-in{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 55px;
    background-color: #820bc6;
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    font-size: 26px;
}

