
img{
    background-color: #ffd7ab;
    position: absolute;
    top:80px;
    left:72px;
    right:638px;
    
}
p{ 
    position: absolute;
    height: 192px;
    width:458px;
    left: 590px;
    top: 80px;

}