#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img{
    background-color: #ffd7ab;
}

.desc{
    width: 458px;
    height: 192px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.title{
    width: 220px;
    height: 24px;
}

.name{
    font-size: 24px;
    color: #373742;
}
.ceo{
    font-size: 20px;
    color: #838383;
}